<html>

<head>
    <title>Todo</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css">
    <script src="/public/js/jquery/jquery.min.js"></script>
    <script src="/public/js/jquery/popper.min.js"></script>
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/disableReloadFormSubmit.js"></script>
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <% include templates/navbar.html %>
        <div>
            <%- body %>
        </div>
</body>

</html>